<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JobManager.DAL.Properties.Settings.Global_EnvironConnectionString"
            connectionString="Data Source=(local);Initial Catalog=&quot;Global Environ&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>